*.class
*.iml
*.log
*.pyc
.antlr/
.project
.settings/
/.classpath
/.idea
/.settings
/all.log
/bin/
/build/
/cpg.bin
/cpg.xml
/cpgs/*.xml
/jars/*.jar
/logs/
/out
/project/project/
/runtimeJars/
logs/
target
/.bsp
/joern-cli.zip
